@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid text-center">
    <h1 style="font-size:xx-large">BeerShop</h1><hr/>
    <p class="text-muted">Разгледайте нашите бирени предложения!</p>
    <a asp-action="Shop" asp-controller="Beers" class="btn btn-primary btn-lg">Разгледайте нашия каталог</a>
</div>


<div class="container-fluid mt-5">
        <section id="about">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <img src="~/images/beer_icon_large.png" />
                <h3>Промоционални бири</h3>
                <p class="text-muted">Предлагаме ви промоционални бири.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <img src="~/images/beer_icon_large.png" />
                <h3>Готови за доставяне</h3>
                <p class="text-muted">Ще ви ги доставим на посочения адрес</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                <img src="~/images/beer_icon_large.png" />
                <h3>Направени с майсторлък</h3>
                <p class="text-muted">И малц.... Много малц....</p>
            </div>

        </div>

    </section>
        <hr />    
    <section id="portfolio">
            @await Html.PartialAsync("_IndexPartial")
            </section>
    <section id="contact">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-heading">Да пазаруваме</h2>
            </hr>
            </div>
            </div>
        </section>
</div>
